services/backend/.idea
services/backend/.gitignore
services/backend/*.md
services/backend/.gitattributes
services/backend/.git
services/backend/src/absortium/celerybeat-*

services/frontend/.idea
services/frontend/.gitattributes
services/frontend/.git
services/frontend/.editorconfig
services/frontend/node_modules
services/frontend/bower_components
services/frontend/*.log
services/frontend/*.md


services/ethwallet/celerybeat-*
docker/containers/dev/ethnode/ethhash/*
