[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/absortium/frontend.git
[submodule "services/backend"]
	path = services/backend
	url =  https://github.com/absortium/backend.git
[submodule "services/ethwallet"]
	path = services/ethwallet
	url =  https://github.com/absortium/ethwallet.git
[submodule "services/poloniexbot"]
	path = services/poloniexbot
	url = https://github.com/absortium/poloniexbot.git
